.cajita{
    background-color: aliceblue;
    width: 300px;
    margin: 0 auto;
    border: 5px solid rgb(28, 205, 108);
    box-shadow: 20px 8px 26px 1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 20px 8px 26px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 20px 8px 26px 1px rgba(0,0,0,0.49);
}

.cajita img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
    filter: brightness(111%) hue-rotate(204deg) saturate(625%) opacity(74%) contrast(629%) invert(100%);
-webkit-filter: brightness(111%) hue-rotate(204deg) saturate(625%) opacity(74%) contrast(629%) invert(100%);
-moz-filter: brightness(111%) hue-rotate(204deg) saturate(625%) opacity(74%) contrast(629%) invert(100%);
}

form input{
    text-align: center;
    height: 30px;
    width: 60px;
    display: block;
    margin: 2px auto;
}

form button{
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    margin: 15px auto;
}
.cajita p{
    text-align: justify;
    padding: 20px;
}
.cajita h2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 3px dashed red;
}